<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ruchitech.quicklinkcaller">

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_PHONE_CALL" />
    <uses-permission android:name="android.permission.MANAGE_OWN_CALLS" />
    <uses-permission android:name="android.permission.READ_CALL_LOG" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!--  <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />-->
    <uses-permission android:name="com.google.android.gms.permission.AD_ID" />
    <uses-permission android:name="com.ruchitech.quicklinkcaller.persistence.REMINDER" />
    <uses-permission android:name="android.permission.REQUEST_DEFAULT_DIALER" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
   <!-- <uses-permission android:name="android.permission.RECORD_AUDIO" />-->
    <uses-permission android:name="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE" />

    <queries>
        <intent>
            <action android:name="android.telephony.action.PHONE_STATE" />
        </intent>
    </queries>

    <queries>
        <package android:name="com.whatsapp" />
        <package android:name="com.whatsapp.w4b" />
    </queries>

    <application
        android:name=".MyApp"
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.QuicklinkCaller"
        tools:targetApi="31">
        <activity
            android:name=".WebViewActivity"
            android:exported="false" />
        <activity
            android:name=".ui.screens.SaveSecContactActivity"
            android:excludeFromRecents="true"
            android:exported="false"
            android:launchMode="singleTop"
            android:theme="@style/TransparentTheme2" />
        <activity
            android:name=".ui.screens.ReminderActivity"
            android:excludeFromRecents="true"
            android:exported="false"
            android:launchMode="singleTop"
            android:theme="@style/TransparentTheme2">

            <!--
                            <intent-filter>
                            <action android:name="com.example.RESTART_APP" />
                            <category android:name="android.intent.category.DEFAULT" />
                        </intent-filter>
            -->
        </activity>

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity
            android:name=".PostCallActivity"
            android:excludeFromRecents="true"
            android:exported="false"
            android:launchMode="singleTask"
            android:theme="@style/TransparentTheme2">
            <intent-filter>
                <action android:name="com.example.RESTART_APP" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.QuicklinkCaller"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.DIAL" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE" />
                <action android:name="android.intent.action.DIAL" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="tel" />
            </intent-filter>
        </activity>

        <activity
            android:name=".test1.ongoingCall.CallActivity"
            android:exported="false"
            android:launchMode="singleInstance"
            android:theme="@style/Theme.QuicklinkCaller" />

        <service
            android:name=".ui.screens.callerid.service.CallerIdService"
            android:exported="false"
            android:foregroundServiceType="phoneCall"
            android:stopWithTask="true" />
        <service
            android:name=".persistence.CallStateDetectionService"
            android:enabled="true"
            android:foregroundServiceType="phoneCall"
            android:process=":persistent"
            android:stopWithTask="false" />

        <service
            android:name=".persistence.CallStateHandleService"
            android:enabled="true"
            android:foregroundServiceType="phoneCall"
            android:process=":persistent2"
            android:stopWithTask="true" />

        <receiver
            android:name=".persistence.recievers.TriggerReceiver"
            android:directBootAware="true"
            android:exported="false"
            android:process=":persistent">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.AIRPLANE_MODE" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.net.conn.BACKGROUND_DATA_SETTING_CHANGED" />
                <action android:name="org.microg.gms.gcm.RECONNECT" />
                <action android:name="org.microg.gms.gcm.ACTION_CONNECT" />
                <action android:name="com.google.android.gms.measurement.START" />
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />
                <action android:name="android.intent.action.PACKAGE_RESTARTED" />
                <action android:name="com.ruchitech.quicklinkcaller.persistence.HEARTBEAT" />
                <action android:name="com.ruchitech.quicklinkcaller.persistence.ACK" />
                <action android:name="com.ruchitech.quicklinkcaller.persistence.SEND" />
                <action android:name="com.ruchitech.quicklinkcaller.persistence.REMINDER" />
                <action android:name="TEST" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.provider.Telephony.SECRET_CODE" />

                <data
                    android:host="42678278"
                    android:scheme="android_secret_code" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".persistence.recievers.AlarmReceiver"
            android:directBootAware="true"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />
                <action android:name="com.ruchitech.quicklinkcaller.persistence.REMINDER" />
            </intent-filter>


        </receiver>

        <receiver android:name=".persistence.recievers.NotificationReceiver" />

        <service
            android:name=".persistence.WhatsAppNotificationListener"
            android:exported="true"
            android:label="WhatsApp Lead Capture"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>

        <receiver
            android:name=".persistence.recievers.LastCallProcessor"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.PHONE_STATE" />
            </intent-filter>
        </receiver>

        <service
            android:name=".fcm.MyFirebaseMessagingService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false"
            tools:node="merge">
            <meta-data
                android:name="androidx.work.WorkManagerInitializer"
                android:value="androidx.startup"
                tools:node="remove" />
        </provider>
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

<!--        <activity
            android:name=".defaultdialer.phonecallui.PhoneCallActivity"
            android:theme="@style/Theme.QuicklinkCaller"
            android:exported="true"
            android:launchMode="singleInstance"
            >
            &lt;!&ndash; region provides ongoing call UI &ndash;&gt;
            <intent-filter>
                <action android:name="android.intent.action.DIAL" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tel" />
            </intent-filter>
            &lt;!&ndash; endregion &ndash;&gt;

            &lt;!&ndash; region provides dial UI &ndash;&gt;
            <intent-filter>
                <action android:name="android.intent.action.DIAL" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            &lt;!&ndash; endregion &ndash;&gt;
        </activity>-->

  <!--      <service
            android:name=".defaultdialer.phonecallui.PhoneCallService"
            android:exported="false"
            android:permission="android.permission.BIND_INCALL_SERVICE"
            tools:targetApi="23">
            <meta-data
                android:name="android.telecom.IN_CALL_SERVICE_UI"
                android:value="true" />
            <intent-filter>
                <action android:name="android.telecom.InCallService" />
            </intent-filter>
        </service>
        <service
            android:name=".defaultdialer.listenphonecall.CallListenerService"
            android:enabled="true"
            android:exported="false">
            <intent-filter android:priority="1000">
                <action android:name=".service.CallShowService" />
            </intent-filter>
        </service>-->


        <service
            android:name=".test1.core.CallService"
            android:exported="true"
            android:permission="android.permission.BIND_INCALL_SERVICE">
            <meta-data
                android:name="android.telecom.IN_CALL_SERVICE_UI"
                android:value="true" />
            <meta-data
                android:name="android.telecom.IN_CALL_SERVICE_RINGING"
                android:value="true" />

            <intent-filter>
                <action android:name="android.telecom.InCallService" />
            </intent-filter>
        </service>

    </application>

</manifest>